<nav>
    <ul>
        <div class="header">
          <div class="navbar">
            <div class="site-title">
              <a href="/">ThriveFood</a>
            </div>
            <!-- <div class="logo-icon"><img src="https://cdn.discordapp.com/attachments/1086598800191275069/1086654421880029234/THRIVE_FOODS-removebg-preview_1.png" alt="Girl in a jacket" width="500" height="600"></div> -->
            <a href="/donationList">DonationList</a>
            <a href="#about">About</a>
            <a href="#contact">Contact us</a>
            <a href="/login">Sign in</a>
            <div class="profile-icon"><img src="https://cdn.discordapp.com/attachments/1086598800191275069/1086667073138216960/Rectangle_47.png" alt="Girl in a jacket" width="500" height="600"></div>
          </div>
        </div>
    </ul>
</nav>