<html lang="en">

<%- include('./partials/head.ejs') %>
<head>
    <link rel="stylesheet" href="/donation.css">
</head>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="Donation">
        <form action="/donation" method="post">
            <label for="">Food In Kg</label>
            <input type="text" name="AmountOfFood" id="">

            <label for="">Location</label>
            <input type="text" name="location" id="">

            <label for="">Date</label>
            <input type="text" name="date" id="">

            <label for="">Your Phone Number</label>
            <input type="text" name="phoneNumber" id="">

            <button>Donate</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>